/* box.css */

.no-interest-box {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
  }
  
  .no-interest-box {
    padding: 20px;
    background-color: #d3f7d3; /* 연녹색 톤 */
    border: 1px solid #5eb95e; /* 진녹색 테두리 */
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}
  
  .location-item {
    padding: 20px;
    background-color: #d3f7d3; /* 연녹색 톤 */
    border: 1px solid #5eb95e; /* 진녹색 테두리 */
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
  }
  
  .location-container {
    display: flex;
}

  .location-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px; /* 필요에 따라 조절 가능한 최대 너비 설정 */
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-left: auto;  /* 위치를 오른쪽으로 이동 */
}

.location-name {
    font-weight: bold;
    margin-right: 10px;
}
  
  .update-button,
  .delete-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* 나머지 스타일 유지 */
  